/* Estilo para el encabezado */
h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Estilo para la tabla */
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

/* Estilo para las celdas de la tabla */
td, th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo para el formulario */
form {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para el botón */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: royalblue;
}

/* Estilo para la ventana emergente */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

